{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <script>
        jQuery(document).ready(function () {
            $.fn.datepicker.defaults.format = "yyyy-mm-dd";
            $('.js-datepicker').datepicker();
        });
    </script>

{% endblock %}